---
// @ts-ignore
import { Icon } from "astro-icon";
import { YouTube } from '@astro-community/astro-embed-youtube';

const features = [
  {
    title: "ChatGPT powered Product Search Bar",
    description:
      "AI will guide the user through the product search process",
    icon: "bx:bxs-search",
    video: "https://youtu.be/vPJcxcsT8vg?si=4lqFsASv-uGoh7Ze&t=41",
    videoId: "vPJcxcsT8vg"
  },
  {
    title: "Decision Tree based multilingual Customer Support Executive",
    description:
      "AI will answer questions based on a decision tree",
    icon: "bx:bxs-user-circle",
    video: "https://youtu.be/vPJcxcsT8vg?si=4lqFsASv-uGoh7Ze&t=41",
    videoId: "vPJcxcsT8vg"
  },
  {
    title: "ChatGPT powered Data Analyst",
    description:
      "AI will analyse your data and provide insights",
    icon: "bx:bxs-bar-chart-alt-2",
    video: "https://youtu.be/vPJcxcsT8vg?si=4lqFsASv-uGoh7Ze&t=41",
    videoId: "vPJcxcsT8vg"
  },

];

---

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        <div class="pt-4">
          <YouTube
            id={item.videoId}
            title={item.title}
          />
        </div>
        </div>

      </div>
    ))
  }
</div>
